* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.background-auth {
    background-color: black;
    min-height: 100vh;
}

.image-auth {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.title-auth {
    font-size: 72px;
    font-weight: bold;
}
